<!DOCTYPE html>
<html lang="pt">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Astromedia</title>
        <partial name="_Favicons"></partial>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Footer.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/Header.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/dropdown.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/loginmodal.css" asp-append-version="true">
        @await RenderSectionAsync("stylesheet", required: false)
    </head>
    <body>
        <div id="rendermodal" data-url='@Url.Action("Login", "SignIn")'></div>

        <header class="header">
            <div class="container">
                <nav class="nav">
                    <a asp-action="Index" asp-controller="Home"><img src="~/img/logo-small.png" class="logo" alt=""></a>
                    <div class="nav-right header--btn-group">
                        <partial name="_LoginPartial" />
                    </div>
                </nav>
            </div>
        </header>

        <main class="container" role="main">
            @RenderBody()
        </main>

        <footer class="footer is-full-width">
            <div class="container is-vertical-align">
                <a href=""><img class="footer--logo" src="~/img/logo-small.png" alt=""></a>
                <a class="footer--texto text-light" href="#copyright">©2022 Astromedia</a>
                <a class="footer--texto text-light" asp-action="TermosUso" asp-controller="Juridico">Termos</a>
                <a class="footer--texto text-light" href="#privacidade">Privacidade</a>
            </div>
        </footer>

        </div>
        <script src="~/lib/tippy/popper.min.js" asp-append-version="true"></script>
        <script src="~/lib/tippy/tippy-bundle.umd.min.js" asp-append-version="true"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-append-version="true"></script>
        <script src="~/js/modal.js" asp-append-version="true"></script>
        <script src="~/js/showpassword.js" asp-append-version="true"></script>
        <script src="~/js/header.js" asp-append-version="true"></script>

        @await RenderSectionAsync("scripts", required: false)
    </body>
</html>