<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Astromedia</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Astromedia.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("stylesheet", required: false)
</head>
<body> <!-- HEADER E FOOTER AQUI -->
    <header>
        <nav class="nav">
            <div class="nav-left">
                <a class="brand" href="#">Brand</a>
                <div class="tabs">
                    <a>Link 1</a>
                    <a>Link 2</a>
                </div>
            </div>
            <div class="nav-right">
                <a class="button outline">Button</a>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer>
        <p>sheeeeeeeeeeeeeesh</p>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>