
@{
    Layout = "_Layout";
}
@section stylesheet {
    <link rel="stylesheet" href="~/css/Grid.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/recomendacoes.css" asp-append-version="true" />
}

<div class="grid">
    <div class="sidebar">
        <partial name="_Foruns"/>
    </div>
    @RenderBody()
    <div class="recomendacoes hide-xs hide-sm hide-md">
        <partial name="_Recomendacoes"/>
    </div>
</div>

@section scripts {
    <script src="~/js/openTooltip.js" asp-append-version="true"></script>
}