
@{
    Layout = "_Layout";
}
@section stylesheet {
    <link rel="stylesheet" href="~/css/Grid.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/recomendacoes.css" asp-append-version="true" />
    @await RenderSectionAsync("stylesheet", required: false)
    @await RenderSectionAsync("modal", false)
}

<div class="grid">
    <div class="sidebar">
        <partial name="_Foruns"/>
    </div>
    @RenderBody()
    <div class="recomendacoes hide-xs hide-sm">
        <partial name="_Recomendacoes"/>
    </div>
</div>


@section scripts {
    <script src="~/js/openTooltip.js" asp-append-version="true"></script>
    <script src="~/js/expand-comment-behav.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
}