@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/Grid.css" asp-append-version="true">

<div class="grid">
    <div class="sidebar">
        <div class="item">
            <img src="" alt="">
            <span class="tooltip"></span>
        </div>
    </div>
    @RenderBody()
</div>

@await RenderSectionAsync("scripts", required: false)
<script src="~/js/openTooltip.js" asp-append-version="true"></script>