<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Astromedia</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Footer.css">
    <link rel="stylesheet" href="~/css/Header.css">
    @await RenderSectionAsync("stylesheet", required: false)
</head>
<style>
</style>

<body>
    @await RenderSectionAsync("loginmodal", required: false)
    <!-- HEADER AQUI -->

    <header class="header nav">
        <a asp-action="Index" asp-controller="Home"><img class="logo" src="~/img/logo-small.png" alt=""></a>
        <div class="nav-right header--btn-group">
            <a class="text-light" id="modalbtn" href="#contact">Login</a>
            <a class="text-light" href="#about">Sign-in</a>
        </div>
    </header>

    <!--<ul class="HeaderLogado">
        <li style=" float: left;"><a class="logo" href=""><img src="~/img/logo-small.png" alt=""></a></li>
        <li style="float:right"><a class="logo_user" href=""><img src="xxxxx" alt=""></a></li>   
    </ul>-->

    @RenderBody()

    <!-- FOOTER AQUI -->
    <footer class="footer is-full-width is-vertical-align">
        <a href=""><img class="footer--logo" src="~/img/logo-small.png" alt=""></a>
        <a class="footer--texto text-light" href="#copyright">©2022 Astromedia</a>
        <a class="footer--texto text-light" href="#termos">Termos</a>
        <a class="footer--texto text-light" href="#privacidade">Privacidade</a>
    </footer>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>

</html>