
@{
    Layout = "_Layout";
}
@section stylesheet {
    <link rel="stylesheet" href="~/css/Grid.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/recomendacoes.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/splide-4.1.3/dist/css/splide.min.css" asp-append-version="true">
    @await RenderSectionAsync("stylesheet", required: false)
    @await RenderSectionAsync("modal", false)
}

@await RenderSectionAsync("informacoesAstro", required: false)

<div class="grid">
    <div class="sidebar">
        <partial name="_Foruns"/>
    </div>
    @RenderBody()
    <div class="recomendacoes">
        <partial name="_Recomendacoes"/>
    </div>
</div>


@section scripts {
    <script src="~/js/openTooltip.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/splide-4.1.3/dist/js/splide.min.js" asp-append-version="true"></script>
    <script src="~/js/expand-comment-behav.js" asp-append-version="true"></script>
    <script src="~/js/recomendacoes.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
}