@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
@{
    var usuario = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <a href=""><img src="@usuario.FotoPerfil" class="logo_user" alt=""></a>
    <a class="text-light" asp-action="Logout" asp-controller="SignIn">Deslogar</a>
}
else 
{
    <a class="text-light" id="modalbtn" href="#contact">Login</a>
    <a class="text-light" asp-action="Index" asp-controller="SignIn">Sign-in</a>
}
