@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
@{
    var usuario = await UserManager.GetUserAsync(User);
    var rota = ViewContext.RouteData.Values["action"] as string;
    var rotaController = ViewContext.RouteData.Values["controller"] as string;
}

@if (SignInManager.IsSignedIn(User))
{
    @* <a class="text-light" asp-action="Logout" asp-controller="SignIn">Deslogar</a> *@
    <div class="profile">
        @* <a href="" id="profile"></a> *@
        <img src="@usuario.FotoPerfil" class="logo-user" id="profile" alt="">
        <div class="dropdown drifto" id="logged-in">
            <ul>
                <li>
                    <a class="text-light" href="#">
                        <img src="https://icongr.am/material/account.svg?size=30&color=ffffff"/>
                        Perfil
                    </a>
                </li>
                <li>
                    <a class="text-light" href="#">
                        <img src="https://icongr.am/material/account-cog.svg?size=30&color=ffffff"/>
                        Configurações
                    </a>
                </li>
                <li>
                    <a class="text-light" asp-action="Logout" asp-controller="SignIn">
                        <img src="https://icongr.am/entypo/log-out.svg?size=30&color=ffffff"/>
                        Sair
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    @if (rota is "Index" && rotaController is "SignIn")
    {
        <a class="text-light" id="modalbtn" href="#contact">Login</a>
    }
    else if (rota is "LogIn")
    {
        <a class="text-light" asp-action="Index" asp-controller="SignIn">Sign-in</a>
    } 
    else
    {
        <a class="text-light" id="modalbtn" href="#contact">Login</a>
        <a class="text-light" asp-action="Index" asp-controller="SignIn">Sign-in</a>
    }
}
