@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
@{
    var usuario = await UserManager.GetUserAsync(User);
    var rota = ViewContext.RouteData.Values["action"] as string;
    var rotaController = ViewContext.RouteData.Values["controller"] as string;
}

@if (SignInManager.IsSignedIn(User))
{
    <a class="text-light" asp-action="Logout" asp-controller="SignIn">Deslogar</a>
    <a href=""><img src="@usuario.FotoPerfil" class="logo-user" alt=""></a>
}
else
{
    @if (rota is "Index" && rotaController is "SignIn")
    {
        <a class="text-light" id="modalbtn" href="#contact">Login</a>
    }
    else if (rota == "LogIn")
    {
        <a class="text-light" asp-action="Index" asp-controller="SignIn">Sign-in</a>
    } 
    else
    {
        <a class="text-light" id="modalbtn" href="#contact">Login</a>
        <a class="text-light" asp-action="Index" asp-controller="SignIn">Sign-in</a>
    }
}
