@* @using Microsoft.AspNetCore.Identity;
@inject SignInManager<Usuario> SignInManager;
@inject UserManager<Usuario> UserManager; *@
@inject AstroService _service;
@{
    var astros = await _service.GetAllRecommended();
}


@foreach (var astro in astros)
{
  <div class="recomendacao">
    <div class="recomendacao-background" style="background-image: url(@astro.Foto);"></div>
    <div class="recomendacao-corpo">
        <header class="recomendacao-titulo">
            <img src="@astro.Foto" class="recomendacao-img" />    
            <h6><a asp-action="PerfilAstro" asp-controller="Feed" asp-route-id="@astro.Id" class="text-white">@astro.Nome</a></h6>
        </header>
        <button class="button primary botao-recomendacao">Juntar-se</button>
    </div>
</div>  
}

@* <div class="recomendacao">
    <img src="~/img/signin-bg.jpg" class="recomendacao-background" />
    <div class="recomendacao-corpo">
        <header class="recomendacao-titulo">
            <img src="~/img/signin-bg.jpg" class="recomendacao-img" />    
            <h5><a href="~/Feed/PerfilAstro/1" class="text-white">Recomendacao</a></h5>
        </header>
        <button class="button primary botao-recomendacao">Juntar-se</button>
    </div>
</div>
<div class="recomendacao">
    <img src="~/img/signin-bg.jpg" class="recomendacao-background" />
    <div class="recomendacao-corpo">
        <header class="recomendacao-titulo">
            <img src="~/img/signin-bg.jpg" class="recomendacao-img" />    
            <h5><a href="~/Feed/PerfilAstro/1" class="text-white">Recomendacao</a></h5>
        </header>
        <button class="button primary botao-recomendacao">Juntar-se</button>
    </div>
</div> *@
