<div class="card recomendacao">
    <img src="signin-bg.jpg" class="recomendacao-background" />
    <header class="recomendacao-titulo">
        <img src="~/img/logo-small.jpg" class="recomendacao-img" />    
        <h2>Recomendacao</h2>
    </header>
    <button class="button primary">Juntar ao fórum</button>
</div>
