@{
    ViewData["Title"] = "Início";
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Blaka&family=Josefin+Sans:ital,wght@1,700&family=MedievalSharp&family=Righteous&display=swap" rel="stylesheet" asp-append-version="true">
}

<article>
    <section id="hero">
        <div class="heroElements">
            <img src="../img/logo-main.png" alt="">
            <a  href="@Url.Action("Index", "SignIn")" class="button memberButton">JUNTE-SE A NÓS</a>
        </div>
    </section>

    <section class="heroTwo">
        <div class="heroTwo-elements">
            <div class="heroTwocontainer" >
                <h3 class="heroTwo-text">A Ciência de Forma Acessível</h3>
                <p class="heroTwo-text2">Venha conhecer a rede social onde você aprende compartilhando conhecimento <br>de um jeito descontraido, divertido e interativo.</p>
            </div>

            <div class="heroTwocontainer">
                <img src="../img/moon2.png" alt="">
            </div>
           
        </div>
    </section>

    <section class="heroThree">
        <div class="row">
           <div class="sections" style="background-color: #471c5c;">
                <img src="https://static.thenounproject.com/png/636906-200.png" alt="" style="-webkit-filter: invert(1); filter: invert(1);">
                <h2>MULTIPLATAFORMA</h2>
                <p>Acesse em qualquer lugar a qualquer momento</p>
            </div>

            <div class="sections" style="background-color: #7300a8;">
                <img src="../img/amizades.png" alt="" style="-webkit-filter: invert(1); filter: invert(1);">
                <h2>FAÇA AMIZADES</h2>
                <p>Interaja com pessoas e compartilhe ideias</p>
            </div>

            <div class="sections" style="background-color: #471c5c;">
                <img src="../img/informacao.png" alt="" style="-webkit-filter: invert(1); filter: invert(1);">
                <h2>SE INFORME</h2>
                <p>Siga seus astros preferidos e fique por dentro das suas principais novidades</p>
            </div>

            <div class="sections" style="background-color: #7300a8;">
                <img src="../img/conhecimento.png" alt="" style="-webkit-filter: invert(1); filter: invert(1);">
                <h2>ADQUIRA CONHECIMENTO</h2>
                <p>Compartilhe e receba informações dentro dos nossos foruns de debate</p>
            </div>
        </div>
    </section>

    <section class="heroFour">
        <div class="videoContainer">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ghKRLIEQVkM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>

    <section class="hero" id="sixthHero">
        <div class="elements-container">

            <h1 class="text--font">QUEM SOMOS?</h1>
            <div class="container">
                <div class="row">
                    <div class="col-6-md list--name text--font">
                        <a href="https://www.linkedin.com/in/alexsandro-campos/">
                            <img class="hero--img" src="../img/Alex.png" alt="">
                        </a>
                        <h3>ALEX. CAMPOS</h3>
                    </div>
                    <div class="col-6-md list--name text--font">
                        <a href="https://www.linkedin.com/in/caio-silva-ferrari/">
                            <img class="hero--img" src="../img/Caio.png" alt="">
                        </a>
                        <h3>CAIO FERRARI</h3>
                    </div>
                    <div class="col-6-md list--name text--font">
                        <a href="https://www.linkedin.com/in/daiki-sakuragi">
                            <img class="hero--img" src="../img/Daiki.png" alt="">
                        </a>
                        <h3>DAIKI SAKURAGI</h3>
                    </div>
                    <div class="col-6-md list--name text--font">
                        <a href="https://www.linkedin.com/in/gnascimento-ian/">
                            <img class="hero--img" src="../img/Gustavo.png" alt="">
                        </a>
                        <h3>GUSTAVO IAN</h3>
                    </div>
                </div>

            </div>

            <p class="elements-container--message text--font">
                "Olá, Nós Somos a Astromedia. Um grupo de estudantes do curso de Informática no Instituto Federal de São Paulo"
            </p>
        </div>
    </section>
</article>