@{
    ViewData["Title"] = "Página inicial";
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Blaka&family=Josefin+Sans:ital,wght@1,700&family=MedievalSharp&family=Righteous&display=swap" rel="stylesheet">
}

<article>
    <section id="hero">
        <div class="heroElements">
            <img src="../img/logo-main.png" alt="">
            <a  href=""><button class="memberButton">JUNTE-SE A NÓS</button></a>
        </div>
    </section>

    <section class="hero" id="secondHero">
        <div class="elementsContainer-secondHero">
            <h2 class="elementsContainer-secondHero-title1 text--font">CONHEÇA A MELHOR</h2>
            <h1 class="elementsContainer-secondHero-title2">REDE SOCIAL DO MUNDO</h1>

            <div class="iframeContainer">
                <iframe width="700" height="500" src="https://www.youtube.com/embed/pjNI9K1D_xo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section class="hero-transparent">
        <div class="thirdHero-Image-container">
            <img class="thirdHero-Image" src="../img/thirdHero-img.png" alt="">
        </div>
    </section>

    <section class="hero">
        <div class="fourthHero-Image-container">
            <img class="fourthHero-Image" src="../img/fourthHero-img.png" alt="">
        </div>
    </section>

    <section class="hero-transparent">
        <div class="fifthHero-Image-container">
            <img class="fifthHero-Image" src="../img/fifthHero-img.png" alt="">
        </div>
    </section>

    <section class="hero" id="sixthHero">
        <div class="elements-container">

            <h1 class="text--font">QUEM SOMOS?</h1>
            <div class="container">
                <div class="row">
                    <div class="col-6-md list--name text--font">
                        <a href="https://github.com/AlexsandroCampos">
                            <img class="hero--img" src="~/img/default-img.jpg" alt="">
                        </a>
                        <h3>ALEX. CAMPOS</h3>
                    </div>
                    <div class="col-6-md list--name text--font">
                        <a href="https://github.com/Caioferrari04">
                            <img class="hero--img" src="~/img/default-img.jpg" alt="">
                        </a>
                        <h3>CAIO FERRARI</h3>
                    </div>
                    <div class="col-6-md list--name text--font">
                        <a href="https://github.com/DaikiSakuragi">
                            <img class="hero--img" src="~/img/default-img.jpg" alt="">
                        </a>
                        <h3>DAIKI SAKURAGI</h3>
                    </div>
                    <div class="col-6-md list--name text--font">
                        <a href="https://github.com/Guhian013">
                            <img class="hero--img" src="~/img/default-img.jpg" alt="">
                        </a>
                        <h3>GUSTAVO IAN</h3>
                    </div>
                </div>

            </div>

            <p class="elements-container--message text--font">
                "Olá, Nós Somos a Astromedia. Um grupo de estudantes do curso de Informática no Instituto Federal de São Paulo"
            </p>
        </div>
    </section>
</article>
