@{
    ViewData["Title"] = "Página inicial";
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Blaka&family=Josefin+Sans:ital,wght@1,700&family=MedievalSharp&family=Righteous&display=swap" rel="stylesheet">
}

<section id="hero">
    <div class="heroElements">
        <img class="mainLogo" src="../img/logo-main.png" alt="">
        <a  href=""><button class="memberButton">JUNTE-SE A NÓS</button></a>
    </div>
</section>

<section id="secondHero">
    <div class="elementsContainer-secondHero">
        <h2 class="elementsContainer-secondHero-title1">CONHEÇA A MELHOR</h2>
        <h1 class="elementsContainer-secondHero-title2">REDE SOCIAL DO MUNDO</h1>

        <div class="iframeContainer">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pjNI9K1D_xo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="thirdHero">
    <div class="thirdHero-Image-container">
        <img class="thirdHero-Image" src="../img/thirdHero-img.png" alt="">
    </div>
</section>

<section id="fourthHero">
    <div class="fourthHero-Image-container">
        <img class="fourthHero-Image" src="../img/fourthHero-img.png" alt="">
    </div>
</section>

<section id="fifthHero">
    <div class="fifthHero-Image-container">
        <img class="fifthHero-Image" src="../img/fifthHero-img.png" alt="">
    </div>
</section>

<section id="sixthHero">
    <div class="elementsContainer-sixthHero">
        <h1>QUEM SOMOS?</h1>

        <div class="elementsContainer-sixthHero-listNames">
            <div class="sixthHero-container-listNames-Elements-1">
                <a href="https://github.com/AlexsandroCampos"><img class="sixthHero-container-listNames-Image-1" src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" alt=""></a>
                <h3>ALEX. <br> CAMPOS </br></h3>
            </div>

            <div class="sixthHero-container-listNames-Elements-2">
                <a href="https://github.com/Caioferrari04"><img class="sixthHero-container-listNames-Image-2" src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" alt=""></a>
                <h3>CAIO <br> FERRARI </br></h3>
            </div>

            <div class="sixthHero-container-listNames-Elements-3">
                <a href="https://github.com/DaikiSakuragi"><img class="sixthHero-container-listNames-Image-3" src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" alt=""></a>
                <h3>DAIKI <br>SAKURAGI</br></h3>
            </div>

            <div class="sixthHero-container-listNames-Elements-4">
                <a href="https://github.com/Guhian013"><img class="sixthHero-container-listNames-Image-4" src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" alt=""></a>
                <h3>GUSTAVO <br> IAN</br></h3>
            </div>
        </div>
        <p class="elementsContainer-sixthHero-Message">"Olá, Nós Somos a Astromedia. Um grupo de estudantes do curso de Informática no Instituto Federal de São Paulo"</p>
    </div>
</section>



