@{
    ViewData["Title"] = "Página inicial";
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/loginmodal.css">
}

@section loginmodal {
    <div id="rendermodal" data-url='@Url.Action("RenderLoginModal", "SignIn")'></div>
}

<div class="background">

</div>

@section scripts {
    <script src="~/js/loadmodal.js"></script>
} 