@{
    ViewData["Title"] = "Página inicial";
}

@section stylesheet {
  <link rel="stylesheet" href="../wwwroot/css/paunocu.css" />
}

<div class="card">
  <header>
    <h4>Bem vindo :)</h4>
  </header>
  <p>Não tem nada aqui por enquanto :)</p>
  <footer class="is-right">
    <a asp-action="LogIn" asp-controller="SignIn" class="button primary">Senha.</a>
    <a asp-action="Index" asp-controller="SignIn" class="button">Salve Ian, como foi seu dia?</a>
  </footer>
</div>

@section scripts {
  <script>
    
  </script>
}
