@model UsuarioDTO

@section stylesheet {
    <style>
        body {
            background-image: url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1600);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="~/css/EmailRecPassword.css" asp-append-version="true">
}

<div id="modalblock" class="container is-vertical-align is-horizontal-align">
    <form class="modal-content text-light col-5" asp-action="RecPassword" asp-controller="SignIn">
        <div class="container logo-box row is-vertical-align is-horizontal-align">
            <img class="img-logo col" src="../img/logo-small.png" alt="minorlogo" class="minlogo">
             <h2 class="col logo-text">Redefinir Senha</h2>
        </div>

        <p>Digite seu E-mail para redefinir sua senha</p>

        <div class="container">
            <div asp-validation-summary="ModelOnly" class="text-error"></div>
            
            
            <div class="row">
                <label class="col" asp-for="Email">
                    @Html.DisplayNameFor(m => m.Email)
                    <input class="inputbox inputbox-name" asp-for="Email" required>
                </label>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="col submit-btn button outline is-vertical-align is-horizontal-align">Continuar</button>
                </div>
            </div>
        </div>
    </form>
</div>