@model ForgotPassword

@section stylesheet {
    <style>
        body {
            background-image: url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1600);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .modal-content {
            padding: 10px 5px 30px 5px !important;
        }

        p {
            margin-right: 20px;
        }

        
    </style>
    <link rel="stylesheet" href="~/css/EmailRecPassword.css" asp-append-version="true">
}

<div id="modalblock" class="container is-vertical-align is-horizontal-align">
    <div class="modal-content text-light col-5">
        <div class="container logo-box row is-vertical-align is-horizontal-align">
            <img class="img-logo col-2" src="../img/logo-small.png" alt="minorlogo" class="minlogo">
            @if(ViewBag.Erro is null)
            {
                <h2 class="col logo-text">E-mail Enviado</h2>
            }

            else 
            {
                <h2 class="col logo-text">Erro ao reenviar e-mail</h2>
            }
        </div>

        @if(ViewBag.Erro is null)
            {
                <p>Verifique seu e-mail e acesse o link disponibilizado para trocar sua senha. Caso não tenha recebido o e-mail, clique <a asp-action="ResendEmail" asp-route-email="@Model.Email">aqui </a> para reenviá-lo.</p>

            }

            else 
            {
                <p>@ViewBag.Erro Clique <a asp-action="ResendEmail" asp-route-email="@Model.Email">aqui </a> para reenviá-lo.</p>
            }

    </div>
</div>