@model UsuarioDTO
@{
    ViewData["Title"] = "Entrar na conta";
}

@section stylesheet {
    <style>
        body {
            background-image: url(../img/home-background.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="~/css/loginmodal.css" asp-append-version="true">
}

<div id="modalblock" class="container is-vertical-align is-horizontal-align">
    <form class="modal-content text-light col-5" asp-action="LogIn" asp-controller="SignIn">
        <div class="container logo-box row is-vertical-align is-horizontal-align">
            <img class="img-logo col" src="../img/logo-small.png" alt="minorlogo" class="minlogo">
            <h2 class="col logo-text">Entrar</h2>
        </div>

        <div class="container">
            <div asp-validation-summary="ModelOnly" class="text-error"></div>
            
            <div class="row">
                <label class="col" asp-for="Nome">
                    @Html.DisplayNameFor(m => m.Nome)
                    <input class="inputbox inputbox-name" asp-for="Nome" required>
                </label>
            </div>

            <small><span asp-validation-for="Senha" class="text-error"></span></small>
            <div class="row">
                <label class="col" asp-for="Senha">
                    <div class="password-box">
                        @Html.DisplayNameFor(m => m.Senha)
                        <a asp-action="" asp-controller="">Esqueci minha senha</a>
                    </div>
                    <div class="row inputbox-password">
                        <input id="inputbox-pass1" class="col-10 inputbox" asp-for="Senha" required>
                        <div onclick="showPassword(event)" class="col btn-show-password is-vertical-align is-horizontal-align">
                            <img id="show-password1" src="https://icongr.am/clarity/eye.svg?size=128&color=d2d6dd"></img>
                        </div>
                    </div>
                </label>
            </div>

            <div class="row">
                <div class="col">
                    <label asp-for="LembrarMe" class="is-vertical-align">
                        <input asp-for="LembrarMe" class="dnfpassword">Lembrar minha senha
                    </label>
                    <button type="submit" class="col submit-btn button outline is-vertical-align is-horizontal-align">Entrar</button>
                </div>
            </div>
        </div>
    </form>
</div>