@model UsuarioDTO
@{
    ViewData["Title"] = "Log In";
}

<form asp-action="Index" method="post">
    <input asp-for="Nome" />
    <input asp-for="Senha"/>
    <input asp-for="LembrarMe"/>
    <button type="submit">Enviar</button>
</form>
