@model ResetPassword
@{
    ViewData["Title"] = "Recuperar senha";
}

@section stylesheet {
    <style>
        body {
            background-image: url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1600);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="~/css/RecPassword.css" asp-append-version="true">
}

<div id="modalblock" class="container is-vertical-align is-horizontal-align">
    <form class="modal-content text-light col-5" method="post" asp-action="ResetPassword" asp-controller="SignIn">
        <div class="container logo-box row is-vertical-align is-horizontal-align">
            <img class="img-logo col" src="../img/logo-small.png" alt="minorlogo" class="minlogo">
             <h2 class="col logo-text">Redefinir Senha</h2>
        </div>

        <p class="block-subtitle">Entre com uma nova senha para redifinir a sua atual</p>

        <div class="container">
            <div asp-validation-summary="ModelOnly" class="text-error"></div>
            <input asp-for="Token" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <div class="row">
                <label class="col" asp-for="Senha">
                    <div class="password-box">
                        @Html.DisplayNameFor(m => m.Senha)
                    </div>
                    <div class="row inputbox-password">
                        <input type="password" id="inputbox-pass1" class="col-10 inputbox" asp-for="Senha" required>
                        <div onclick="showPassword(event)" class="col btn-show-password is-vertical-align is-horizontal-align">
                            <img id="show-password1" src="https://icongr.am/clarity/eye.svg?size=128&color=d2d6dd"></img>
                        </div>
                    </div>
                </label>
            </div>
            <div class="row">
                <label class="col" asp-for="ConfirmarSenha">
                    <div class="password-box">
                        <p class="input-title">@Html.DisplayNameFor(m => m.ConfirmarSenha)</p>
                    </div>
                    <div class="row inputbox-password">
                        <input type="password" id="inputbox-pass2" class="col-10 inputbox" asp-for="ConfirmarSenha" required>
                        <div onclick="showPassword(event)" class="col btn-show-password is-vertical-align is-horizontal-align">
                            <img id="show-password1" src="https://icongr.am/clarity/eye.svg?size=128&color=d2d6dd"></img>
                        </div>
                    </div>
                </label>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit" class="col submit-btn button outline is-vertical-align is-horizontal-align">Redefinir Senha</button>
                </div>
            </div>
        </div>
    </form>
</div>