@model string
@{
    ViewData["Title"] = "Sign In";
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/signin.css" asp-append-version="true">
}

<div class="cad container is-vertical-align is-horizontal-align">
    <div class="cad-content text-light" asp-action="Index">
        <div class="container logo-box-cad row is-vertical-align is-horizontal-align">
            <!-- substituir por img nova -->
            <img class="img-logo-cad col" src="~/img/logo-main.png" alt="Logo Astromedia" class="maxlogo">
            @if(ViewBag.Erro is null)
            {
                <h2 class="col logo-text-cad is-vertical-align is-horizontal-align">E-mail de confirmação</h2>
            } 

            else 
            {
                <h2 class="col logo-text-cad is-vertical-align is-horizontal-align">Erro ao reenviar e-mail</h2>
            }
        </div>

        <div class="container container-cad">
            @if(ViewBag.Erro is null)
            {
                <p>Verifique o seu e-mail e confirme a sua conta para poder acessá-la. Caso não tenha recebido o e-mail, clique <a asp-action="ResendEmailToConfirmAccount" asp-route-email="@Model">aqui </a> para reenviá-lo.</p>

            } 

            else 
            {
                <p>@ViewBag.Erro Clique <a asp-action="ResendEmailToConfirmAccount" asp-route-email="@Model">aqui </a> para reenviá-lo.</p>
            }
        </div>
    </div>
</div>
