
/* -- Header do Modal */
.logo-box {
    margin: 20px auto;
}

p{
    margin-left: 20px;
    margin-bottom: 30px;
}

.img-logo {
    max-width: 100px;
}

.logo-text {
    margin: 0;
    font-size: 30px;
}

.close-btn {
    max-width: 50px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-bottom: 0;
}

.close-btn:hover {
    transform: scale(0.97);
}

.close-btn:active {
    transform: scale(0.85);
}



/* -- Inputs do Modal */

.inputbox {
    border: 1px solid var(--color-highlight) !important;
    height: 50px !important;
    margin-bottom: 30px;
    margin-right: 0;
}


/* -- Submit Button do Modal */

.submit-btn {
    margin: 40px auto;
    border-radius: 20px;
    transition: .4s;
    width: 170px !important;
}

.submit-btn:hover {
    opacity: 0.6;
}


/* Media Queries - Modal */

@media screen and (min-width: 601px) and (max-width: 1154px) {
    .modal-content {
        transform: scale(1);
        font-size: 1.2rem;
        max-width: 100%;
    }
    .btn-show-password img {
        height: 30px;
    }
    .inputbox-name {
        height: 42px !important;
    }
    .img-logo {
        max-width: 12vw;
    }
    .close-btn {
        max-width: 40px;
    }
    .btn-show-password {
        height: 42px;
    }
}

@media screen and (max-width: 600px) {
    .modal-content {
        transform: scale(0.85);
        font-size: 1.4rem;
    }
    .logo-box {
        flex-flow: nowrap;
    }
    .inputbox-password {
        flex-flow: nowrap;
    }
    .img-logo {
        max-width: 24vw;
    }
    .close-btn {
        max-width: 47px;
    }
}

@media screen and (max-width: 320px) {
    .modal-content {
        transform: scale(0.9);
        font-size: 1.1rem;
    }
    .logo-box {
        flex-flow: nowrap;
    }
    .inputbox-name {
        height: 35px !important;
    }
    .close-btn {
        max-width: 12vw;
    }
    .submit-btn {
        margin: 25px auto;
        width: 150px !important;
        font-size: 1.4rem;
    }
}