.footer{
    background-color: #471c5cb3;
    height: 8vh;
    padding: 10px;
    position: fixed;
    bottom: 0;
}

.footer .container {
    max-width: 1400px;
}

.footer a {
    margin-right: 0.8rem;
    display: flex;
    align-items: center;
}

.footer--logo {
    width: 55px;
}

.footer--texto {
    font-size: 8px;
}

.footer--texto:nth-of-type(2) {
    font-size: 12px;
}

@media screen and (max-width: 1200px) {
    .footer .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .footer--texto {
        font-size: 12px;
    }
    
    .footer--texto:nth-of-type(2) {
        font-size: 16px;
    }
  }
