main.container {
    margin-top: 2vh;
    max-width: 1400px;
}

/* Informacoes astro */
.info-astro {
    background-color: var(--bg-secondary-color);
    margin: 2rem 0;
    border-radius: 5px;
    padding: .5rem 0;
}

.info-astro a {
    cursor: pointer;
}

.info-astro * {
    margin-top: 0;
    margin-bottom: 0;
}

.info-astro_imagem {
    max-width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.info-astro_texto > h2 {
    font-size: 2rem;
    margin: 0;
}

.info-astro_texto small {
    white-space: nowrap;
    display: flex;
    gap: 5px;
}

.info-astro_texto .nome-astro {
    transition: opacity .2s;
}

.info-astro_sair-forum {
    font-size: .8rem;
    background-color: var(--color-error);
    display: inline-flex;
    align-items: center;
    padding: 2px 10px;
    border-radius: 15px;
    gap: 3px;
    text-decoration: none;
}

/* Estilos  */
.grid{
    display: grid;
    grid-template-columns: 1fr 8fr 4fr;
}

/* Side bar */
.sidebar{
    position: sticky;
    left: 0;
    top: 10vh;
    height: fit-content;
    padding: 0 10px;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.item img{
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
}
.astro-active {
    border: 3px solid var(--color-highlight);
    border-radius: 50%;
}

.item img:active{
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}

/* Responsividade */
@media screen and (max-width: 1200px) {
    
    main.container {
        max-width: 100%;
    }

    .grid {
        grid-template-columns: 1fr 5fr 1fr;
    }
}

@media screen and (max-width: 992px) {
    .info-astro {
        margin-bottom: 0;
    }
    main.container {
        max-width: 720px;
    }
    
    .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        display: none;
    }

    .recomendacoes { 
        order: -1;
    }
}

@media screen and (max-width: 767px) {
    main.container {
        max-width: 540px;
    }
}

@media screen and (max-width: 576px) {
    main.container {
        max-width: 100%;
    }
}