/* Estilos  */
.grid{
    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
    align-items: flex-start;
}

/* Side bar */
.sidebar{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.item img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.astro-active {
    border: 1px solid var(--color-lightGrey);
}

.item img:active{
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}

/* Responsividade */
@media screen and (max-width: 1200px) {
    .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}