/* Conteúdo Modal - Corpo do Login */

.modal {
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;  
    background-color: rgba(0,0,0,0.5); 
}

.modal-content {
    background-color: var(--bg-secondary-color);
    border-radius: 25px;
    font-size: x-large;
    font-weight: lighter;
    padding-top: 10px;
    margin: auto;
    transform: scale(0.75)
}

/* Conteúdo Modal - Form */
/* -- Header do Modal */

.logo-box {
    margin: 18px auto;
}

.img-logo {
    max-width: 146px;
}

.logo-text {
    margin: 0;
}

.close-btn {
    max-width: 50px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-bottom: 0;
}

.close-btn:hover {
    transform: scale(0.97);
}

.close-btn:active {
    transform: scale(0.85);
}

/* -- Inputs do Modal */

.inputbox {
    border: 1px solid var(--color-highlight) !important;
    height: 50px !important;
    margin-bottom: 30px;
    margin-right: 0;
}

.inputbox-name {
    border-radius: 20px !important;
}

.password-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.inputbox-password {
    border-radius: 20px 0 0 20px !important;
    flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter)) !important;
    max-width: calc((100% / (12/10)) - var(--grid-gutter)) !important;
}

#show-password {
    height: 43px;
}

.btn-show-password {
    cursor: pointer;
    transition: 0.1s ease-in-out;
    display: flex;
    height: 50px;
    border-radius: 0 20px 20px 0;
    background-color: var(--color-highlight);
    margin-left: 0;
}

.btn-show-password:active {
    opacity: 0.5;
}

.fpassword {
    color: var(--color-lightGrey);
    font-size: large;
    transition: .4s ease;
}

.fpassword:hover {
    text-decoration: underline;
}

/* -- Submit Button do Modal */

.submit-btn {
    margin: 40px auto;
    border-radius: 20px;
    transition: .4s;
    width: 170px !important;
}

.submit-btn:hover {
    opacity: 0.6;
}

/* Animação de entrada - Modal do Login */

.animatein {
    animation: zoomin 0.7s
}

@keyframes zoomin {
    from {transform: scale(0); opacity: 0;}
    to {transform: scale(0.75); opacity: 1;}
}

/* Media Queries - Modal */

@media screen and (min-width: 601px) and (max-width: 1154px) {
    .modal-content {
        transform: scale(1);
        font-size: 1.2rem;
        max-width: 100%;
    }
    #show-password {
        height: 33px;
    }
    .inputbox-name {
        height: 42px !important;
    }
    .inputbox-password {
        height: 42px !important;
    }
    .logo-box {
        flex-flow: nowrap;
    }
    .input-password-box {
        flex-flow: nowrap;
    }
    .fpassword {
        font-size: 1rem;
    }
    .img-logo {
        max-width: 12vw;
    }
    .close-btn {
        max-width: 40px;
    }
    .btn-show-password {
        height: 42px;
    }
}

@media screen and (max-width: 600px) {
    .modal-content {
        transform: scale(0.85);
        font-size: 1.4rem;
    }
    #show-password {
        height: 37px;
    }
    .inputbox-name {
        height: 42px !important;
    }
    .inputbox-password {
        height: 42px !important;
    }
    .logo-box {
        flex-flow: nowrap;
    }
    .input-password-box {
        flex-flow: nowrap;
    }
    .fpassword {
        font-size: 1.2rem;
    }
    .img-logo {
        max-width: 24vw;
    }
    .close-btn {
        max-width: 47px;
    }
    .btn-show-password {
        height: 42px;
    }
}

@media screen and (max-width: 320px) {
    .modal-content {
        transform: scale(0.9);
        font-size: 1.1rem;
    }
    #show-password {
        height: 27px;
    }
    .fpassword {
        font-size: 1rem;
    }
    .logo-box {
        flex-flow: nowrap;
    }
    .input-password-box {
        flex-flow: nowrap;
    }
    .inputbox-name {
        height: 35px !important;
    }
    .inputbox-password {
        height: 35px !important;
    }
    .close-btn {
        max-width: 12vw;
    }
    .submit-btn {
        margin: 25px auto;
        width: 150px !important;
        font-size: 1.4rem;
    }
    .btn-show-password {
        height: 35px;
    }
}