/* Conteúdo Modal - Corpo do Login */

.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;  
    background-color: rgba(0,0,0,0.5); 
}

.modal.container {
    max-width: 100vw;
}

.modal-content {
    background-color: var(--bg-secondary-color);
    border-radius: 25px;
    font-size: x-large;
    font-weight: lighter;
    padding-top: 10px;
    margin: auto;
    transform: scale(0.75);
}

.modal-denuncia {
    padding: 20px;
}

.modal-denuncia textarea {
    font-size: 1.5rem;
}

.modal-denuncia .modal-footer {
    margin-top: 20px;
}

/* Conteúdo Modal - Form */
/* -- Header do Modal */

.logo-box {
    margin: 18px auto;
}

.img-logo {
    max-width: 146px;
}

.logo-text {
    margin: 0;
}

.close-btn {
    max-width: 50px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-bottom: 0;
}

.close-btn:hover {
    transform: scale(0.97);
}

.close-btn:active {
    transform: scale(0.85);
}

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-lightGrey);
    justify-content: space-between;
    padding: 1rem;
    gap: 10rem;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.modal-body * {
    color: var(--color-lightGrey);
}

.modal-body ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding: 0 3rem;
    gap: 2rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

.modal-body li {
    background-color: var(--color-primary);
    padding: 2rem;
    border-radius: 8px;
}

.modal-body li div {
    display: flex;
    flex-direction: row;
    gap: .1rem;
    font-weight: 500;
}

.modal-body li div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-lightGrey);
    margin-top: -5px;
    margin-left: 10px;
}

.modal-body li div div small {
    margin-bottom: 5px;
}

.modal-body li div img {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    margin: 3px 0 0 3px;
}

.modal-body li div div p {
    margin-bottom: 0;
    margin-bottom: -10px;
}

.modal-body li img {
    width: 100%;
    border-radius: 8px;
}

/* -- Inputs do Modal */

.inputbox {
    border: 1px solid var(--color-highlight) !important;
    height: 50px !important;
    margin-bottom: 30px;
    margin-right: 0;
}

.inputbox-name {
    border-radius: 20px !important;
}

.inputbox-password {
    display: flex;
}

.inputbox-password input {
    border-radius: 20px 0 0 20px !important;
    flex: 0 0 calc((100% / (12/10.5)) - var(--grid-gutter)) !important;
    max-width: calc((100% / (12/10.5)) - var(--grid-gutter)) !important;
}

.dnfpassword {
    margin-right: 10px;
}

.password-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.password-box a {
    color: var(--color-lightGrey);
    font-size: large;
    transition: .4s ease;
}

.password-box a:hover {
    text-decoration: underline;
}

.btn-show-password {
    cursor: pointer;
    transition: 0.1s ease-in-out;
    display: flex;
    height: 50px;
    border-radius: 0 20px 20px 0;
    background-color: var(--color-highlight);
    margin-left: 0;
}

.btn-show-password img {
    height: 36px;
}

.btn-show-password:active {
    opacity: 0.5;
}

/* -- Submit Button do Modal */

.submit-btn {
    margin: 40px auto;
    border-radius: 20px;
    transition: .4s;
    width: 170px !important;
}

.submit-btn:hover {
    opacity: 0.6;
}

/* Animação de entrada - Modal do Login */

.animatein {
    animation: zoomin 0.7s
}

@keyframes zoomin {
    from {transform: scale(0); opacity: 0;}
    to {transform: scale(inherit); opacity: 1;}
}

/* Media Queries - Modal */

@media screen and (min-width: 601px) and (max-width: 1154px) {
    .modal-content {
        transform: scale(1);
        font-size: 1.2rem;
        max-width: 100%;
    }
    .btn-show-password img {
        height: 30px;
    }
    .inputbox-name {
        height: 42px !important;
    }
    .inputbox-password input{
        height: 42px !important;
    }
    .logo-box {
        flex-flow: nowrap;
    }
    .inputbox-password {
        flex-flow: nowrap;
    }
    .password-box a {
        font-size: 1rem;
    }
    .img-logo {
        max-width: 12vw;
    }
    .close-btn {
        max-width: 40px;
    }
    .btn-show-password {
        height: 42px;
    }
}

@media screen and (max-width: 600px) {
    .modal-content {
        transform: scale(0.85);
        font-size: 1.4rem;
    }
    .btn-show-password img {
        height: 30px;
    }
    .inputbox-name {
        height: 42px !important;
    }
    .inputbox-password input {
        height: 42px !important;
        border-radius: 15px 0 0 15px !important;
    }
    .logo-box {
        flex-flow: nowrap;
    }
    .inputbox-password {
        flex-flow: nowrap;
    }
    .password-box a {
        font-size: 1.2rem;
    }
    .img-logo {
        max-width: 24vw;
    }
    .close-btn {
        max-width: 47px;
    }
    .btn-show-password {
        height: 42px;
    }
}

@media screen and (max-width: 320px) {
    .modal-content {
        transform: scale(0.9);
        font-size: 1.1rem;
    }
    .btn-show-password img {
        height: 24px;
    }
    .password-box a {
        font-size: 1rem;
    }
    .logo-box {
        flex-flow: nowrap;
    }
    .inputbox-password {
        flex-flow: nowrap;
    }
    .inputbox-name {
        height: 35px !important;
    }
    .inputbox-password input {
        height: 35px !important;
    }
    .close-btn {
        max-width: 12vw;
    }
    .submit-btn {
        margin: 25px auto;
        width: 150px !important;
        font-size: 1.4rem;
    }
    .btn-show-password {
        height: 35px;
    }
}