textarea {
    background-color: var(--color-secondary);
    color: var(--color-lightGrey);
    border-style: none;
    border: none;
    resize: none;
    outline: none;
    overflow: hidden;
    font-size: x-large;
}

#post-holder::before {
    content: "Crie sua postagem";
    font-size: 1rem;
    margin-left: 15px;
    color: var(--color-lightGrey);
}

#post-holder {
    display: flex;
    flex-flow: column;
    width: 600px; 
    margin-top: 14vh;
    overflow: hidden;  
}

#post-input-box {
    background-color: var(--color-secondary);
    border-radius: 8px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
    padding: 5px;
}

#post-img-preview {
    display: none;  
    margin-bottom: 20px;
}

#post-img-preview img {
    height: auto; 
    display: flex;      
    align-items: center;
    margin: auto;
    border-radius: 10px; 
}

.post-input-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#post-imgcon {
    cursor: pointer;
    transition: all .3s;
}

#post-imgcon:active, #post-imgcon:focus {
    transform: scale(.9);
}

#post-imgcon:hover {
    opacity: 0.6;
}

.post-input-imgcon {
    position: relative;
    max-width: 1.8vw;
    left: 12px;
}

.submit-post-btn {
    position: relative;
    border-radius: 7px;
    font-size: 18px;
    height: .9vh;
    padding: 1vw;
    margin: 10px;
}