@import url(../lib/chota/dist/chota.css);

:root {
  --bg-color: #3F005C;
  --bg-secondary-color: #471C5C;
  --color-primary: #7300A8;
  --color-secondary: #9600DB; /*Novo*/
  --color-highlight: #AF43E0; /*Novo*/
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #333333;
  --font-family-sans: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

html {
  font-size: 14px;
}

main {
  min-height: 82vh;
  /* margin-bottom: 1vh!important; */
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.4);
}
body::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,.9);
}

.icon-button {
  transition: 0.3s;
  padding: 2px;
  cursor: pointer;
}

.icon-button:hover {
  background-color: var(--color-highlight);
  border-radius: 100%;
}

.tippy-box[data-theme~='astromedia'] {
  background: var(--color-highlight);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: var(--color-lightGrey);
}

.tippy-box[data-theme~='astromedia'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--color-highlight);
}
.tippy-box[data-theme~='astromedia'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--color-highlight);
}
.tippy-box[data-theme~='astromedia'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--color-highlight);
}
.tippy-box[data-theme~='astromedia'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--color-highlight);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

