@{
    Layout = "_LayoutFeed";
}

@{
    var Postagem = new Postagem();
}

<link rel="stylesheet" href="~/css/postagem.css">

<div id="post-holder" class="container is-full-screen">
    <div id="post-input-box" class="is-vertical-align is-horizontal-align">
        <div class="post-input-content">
            <textarea class="is-full-width" name="" id="" cols="100%" rows="auto" placeholder="Escreva Aqui" maxlength="280"></textarea>
            <div id="post-img-preview"></div>
            <div class="between-config">
                <div class="post-input-imgcon is-vertical-align is-left">
                    <label for="img-up">
                        <img class="post-footer-icon" src="https://icongr.am/clarity/image.svg?size=128&color=ffffff" />
                    </label>
                    <input id="img-up" class="is-hidden" type="file" accept="image/png, image/gif, image/jpeg">
                </div>
                <button type="submit" class="submit-post-btn button outline is-vertical-align is-right">Enviar</button>
            </div>
        </div>
    </div>

    <div class="post-box" class="is-vertical-align is-horizontal-align">
        <div class="post-content">
            <div class="between-config">
                <div class="post-header-info is-left">
                    <img class="usr-post-pic" src="@Postagem.Usuario.FotoPerfil" />
                    <p class="usr-post-date">@Postagem.DataPostagem.ToString("dd/MM/yyyy")</p>
                </div>
                <div class="report-btn is-vertical-align is-right">
                    <img src="https://icongr.am/clarity/flag.svg?size=128&color=ffffff" />
                </div>
            </div>
            <p class="post-text">
                @Postagem.Texto
            </p>
            <div id="post-img"></div>
            <div class="between-config">
                <div class="post-footer-comment is-vertical-align is-left">
                    <img class="post-footer-icon" src="https://icongr.am/fontawesome/comment-o.svg?size=128&color=ffffff" />
                </div>
                <div class="post-footer-likes is-vertical-align is-right">
                    <img class="post-footer-icon" src="https://icongr.am/clarity/heart.svg?size=128&color=ffffff" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/textarea-post.js"></script>
<script src="~/js/post-img-insert.js"></script>