<ul class="text-light">
    <li>
        <a asp-action="Create" class="text-light">Criar astro</a>
    </li>
    <li>
        <a asp-action="List" class="text-light">Listar astros</a>
    </li>
    <li>
        <a asp-action="Denuncias" class="text-light">Denuncias</a>
    </li>
</ul>