@model AstroDTO
@{
    ViewData["Title"] = "Edição de astros";
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/administrativo.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/pell/dist/pell.min.css">
}

<h1 class="text-light">Atualizar astro</h1>
<em class="text-light">ATENÇÃO!!!</em>
<p class="text-light">Alterar a foto, mesmo sem nenhum arquivo inicialmente selecionado, irá alterar a foto atual!</p>

<form asp-action="Update" enctype="multipart/form-data" class="container">
    <div class="row">
        <div class="col-6">
            <label class="text-light" asp-for="Nome"></label>
            <input asp-for="Nome" />

            <label class="text-light" asp-for="Foto"></label>
            <input asp-for="Foto" />

            <label class="text-light" asp-for="FotoBackground"></label>
            <input asp-for="FotoBackground" />

            <label class="text-light" asp-for="Fotos"></label>
            <input asp-for="Fotos" multiple="multiple"/>
        </div>
        <div class="col-6">
            <label class="text-light" asp-for="Curiosidades"></label>
            <div id="CuriosidadesTextArea"></div>
            <textarea asp-for="Curiosidades" style="display: none;"></textarea>
        </div>

        <div class="justificar">
          
            <div class="d-flex">
                <label class="text-light">Marcos Históricos</label>
                <button type="button" class="button primary is-right" id="button">+</button>
            </div>

            @if(Model.MarcosHistoricos?.Count > 0)
            {
                @for (int i = 0; i<Model.MarcosHistoricos.Count(); i++)
                { 
                    <div class="margin-bottom">
                        <div id="MarcosHistoricosDiv_@i"></div>
                        <textarea name="MarcosHistoricos" id="MarcosHistoricos_@i" style="display: none;" value="@Model.MarcosHistoricos[i]"></textarea>
                    </div>
                }
            }


            
        </div>

    </div>
    <input type="hidden" asp-for="Id">
    <button type="submit" class="button">Enviar</button>
</form>

@section scripts {
    <script src="https://unpkg.com/pell"></script>
    <script src="/js/administrativo-atualizar.js"></script>
    <script src="/js/create-textarea-administrativo.js"></script>
}
